video,
#info,
#description {
  display: none;
}

#video-demo {
  display: none;
  position: absolute;
  top: 150px;
  left: 10px;
}

#canvas-source {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

#canvas-blended {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 113px;
  z-index: 0;
}

#btnregion {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  z-index: 2000;
}
#btnregion #back {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
}
#btnregion #front {
  position: absolute;
  top: 10px;
  left: 0px;
  z-index: 1;
  width: 640px;
  margin: 0px;
  padding: 0px;
}
#btnregion #back img,
#btnregion #front img {
  margin: 0px;
  padding: 0px;
}
#btnregion #front img {
  position: absolute;
  width: 82px;
  height: 82px;
  display: none;
}
#btnregion #button0 {
  left: 60px;
}
#btnregion #button1 {
  left: 500px;
}

ul.bjqs {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: none;
}
li.bjqs-slide {
  position: absolute;
  display: none;
}
ul.bjqs-controls {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 9999;
}
ul.bjqs-controls.v-centered li a {
  position: absolute;
}
ul.bjqs-controls.v-centered li.bjqs-next a {
  right: 0;
}
ul.bjqs-controls.v-centered li.bjqs-prev a {
  left: 0;
}
ol.bjqs-markers {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
ol.bjqs-markers.h-centered {
  text-align: center;
}
ol.bjqs-markers li {
  display: inline;
}
ol.bjqs-markers li a {
  display: inline-block;
}
p.bjqs-caption {
  display: block;
  width: 96%;
  margin: 0;
  padding: 2%;
  position: absolute;
  bottom: 0;
}

#cam-container {
  position: relative;
  top: 0;
  left: 0;
  width: 640px;
  height: 480px;
  margin: 0;
}

#banner-fade {
  position: absolute;
  top: 120px;
  left: 0;
  margin: 0 auto;
  padding: 0;
  width: 640px;
  height: 340px;
  z-index: 1000000000;
}

.bjqs-next a,
.bjqs-prev a,
.bjqs-slide img,
.bjqs img,
.button-in-li {
  display: none;
}

.bjqs img {
  margin: 0 auto;
  height: 330px;
  width: auto;
}

#banner-fade .bjqs-wrapper ul,
#banner-fade .bjqs ul {
  margin: 0;
  padding: 0;
  position: relative;
}

.bjqs .button-in-li {
  position: absolute;
  bottom: 5px;
  margin: 0;
  padding: 0;
  width: 100%;
}
.bjqs .button-in-li a {
  margin: 0 auto;
  padding: 5px;
  width: 80%;
  display: block;
}
